---
import Homework from "../components/Homework.astro";
import Layout from "../layouts/Layout.astro";
import fall2023 from "./fa2023.json";
type Homework = {
  number: number;
  sample4: { title: string; link: string }[];
  sample3: { title: string; link: string }[];
};
---

<Layout>
  <div class="container m-auto min-h-[calc(100vh-96px)] py-8">
    <h1 class="pb-16 text-center text-7xl font-bold">CS559 Featured Artists</h1>
    <p class="italic">Comp Sci 559 Computer Graphics course @ UW Madison</p>
    <p>
      This page links to some interesting homework submissions that either
      received a score <span class="rounded-md border border-black px-1"
        >4/4</span
      > or a <span class="rounded-md border border-black px-1">3/4</span> in the
      homework assignments.
    <div
      class="my-8 grid grid-cols-1 gap-4 rounded-xl bg-[#fff5ea]/50 p-4 shadow-lg sm:grid-cols-2 2xl:grid-cols-4"
    >
      <h2 class="col-span-full mb-2 text-center text-3xl font-bold">
        Fall 2024
      </h2>
      {
        (fall2023 as Homework[]).map((homework) => (
          <Homework homework={homework} />
        ))
      }
    </div>
    </p>
    <div
      class="my-8 grid grid-cols-1 gap-4 rounded-xl bg-[#fff5ea]/50 p-4 shadow-lg sm:grid-cols-2 2xl:grid-cols-4"
    >
      <h2 class="col-span-full mb-2 text-center text-3xl font-bold">
        Fall 2023
      </h2>
      {
        (fall2023 as Homework[]).map((homework) => (
          <Homework homework={homework} />
        ))
      }
    </div>
  </div>
	<div class="container mx-auto h-24 rounded-t-xl bg-[#fff5ea] p-4 text-center">
		<ul class="flex flex-row justify-center">
				<li class="text-teal-700 underline"><a href="https://pages.cs.wisc.edu/~sifakis/">About the Instructor</a></li>
		</ul>
		<p class="mt-4 text-center text-sm">©2024 CS559 Course Staff</p>
	</div>
</Layout>
